@font-face {
  font-family: "Franklin Gothic Book";
  src: url("../fonts/franklin-gothic-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Franklin Gothic Medium";
  src: url("../fonts/franklin-gothic-medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}